// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";


@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar .nav-link:hover {
  text-decoration: underline;
}

.header {
  height: 300px;
  background-image: url('../img/pirate-photos/pirate-ship.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  font-family: 'Syne Mono', monospace;
}

.lead{
  font-weight: bold;
  font-size: 2rem;
}

.footer {
  font-family: 'Syne Mono', monospace;
  background-color: #40748A;
  padding: 20px 0;
}

.caption-bold {
  font-weight: bold;
}

.caption-italic {
  font-style: italic;
}



